/* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.containerlogo {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: #004d99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Header */
header {
    background-color: #004d99;
    padding: 20px 0;
    font-size: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.containerlogo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
    max-width: 85%;
}

.menu {
    position: relative;
}

.menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
}

.menu-button:focus {
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Sección Principal */
main {
    padding: 20px 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #004d99;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}

.result {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%;
    text-align: center;
}

/* Estilos de Secciones */
section {
    margin-bottom: 20px;
}

.calculation, .examples, .chart {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

#myChart {
    max-width: 90%;
    max-height: 90%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
}

.results {
    font-weight: 600;
    font-size: large;
}

.explanation {
    line-height: 2;
}

/* Footer */
footer {
    background-color: #004d99;
    color: white;
    padding: 10px 0;
    text-align: center;
}

footer a {
    color: #004d99;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
